<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">


        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
        <script data-main="js/main" src="js/vendor/bower_components/requirejs/require.js"></script>

        <style type="text/css">
            /*
              Hide template elements till angular.js has loaded.
             */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
              display: none !important;
            }
        </style>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <section id="content" data-ng-cloak class="ng-cloak">

            <section id="topics" data-ng-controller="DiscussionController">

                <article class="topic" data-ng-show="topic.topictitle" data-ng-repeat="topic in topics track by $index">
                    <header>
                        <span data-ng-show="!isSelected(topic.responses[0])">
                            <a href="#{{$index}}-topic-title" ng-click="select(topic.responses[0])">
                            </a>
                        </span>

                        <span data-ng-show="isSelected(topic.responses[0])">
                            <a href="#{{$index}}-topic-title" ng-click="unselect(topic.responses[0])">
                            </a>
                        </span>


                        <h1 id="{{$index}}-topic-title">
                            {{topic.topictitle}}
                        </h1>
                        <nav class="toggle">
                            <div data-ng-show="!isSelected(topic.responses[0])">
                                <a href="#{{$index}}-topic-title" ng-click="select(topic.responses[0])"><i class="fa fa-chevron-down"></i> Show discussion <i class="fa fa-comments-o"></i></a>
                            </div>
                            <div data-ng-show="isSelected(topic.responses[0])">
                                <a href="#{{$index}}-topic-title" ng-click="unselect(topic.responses[0])"><i class="fa fa-chevron-up"></i> Hide discussion <i class="fa fa-comments-o"></i></a>
                            </div>
                        </nav>
                        <p class="comment-count">{{topic.count}} {{topic.countDesc}}</p>
                    </header>

                    <tree comment="comment" data-ng-repeat="comment in topic.responses" data-ng-show="isSelected(topic.responses[0])"></tree>

                    <nav class="jump-link" data-ng-show="isSelected(topic.responses[0])">
                        <span>End of <i><a href="#{{$index}}-topic-title">{{topic.topictitle}} <i class="fa fa-chevron-up"></i></a></i></span>
                    </nav>

                </article>

            </section>
        </section>

        <script src="js/helper.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>
    </body>
</html>
